/*
©2020 Salor
*/
header {
  background-color: #04d9c4;
  color: #fff;
  text-align: center;
  padding: 0.4rem 0;
}
#main {
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
  min-height: 85vh;
}
footer {
  background-color: #cef2f2;
  text-align: center;
  color: #444;
  padding: 0.4rem 0;
}

#result {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}
